$grid1: #730217;
$grid2: #D15530;
$grid3: #A37849;
$grid4: #2594D9;
$grid5: #E73C81;
$grid6: #3E4D8C;
$grid7: #F2CF53;

$body-height: 120vh;
$nav-height: 20vh;
$page-content-height: 80vh;
$footer-height: 20vh;