@import 'variables';

body {
	background-color: white;
	font-family: 'Kaushan Script', cursive;
}
nav img {
	// max-height: 30%;
	width:300px;
	height: 120px;
}
#typeSearchCheckbox
{
	width:2vh;
}

.flexform
{
	margin-top: 5vh;
	// font-size: 1.2em;
}
.navbarBig
{
	font-size: 1.25em;
  height: 20vh;
  background-color: #ECEF9C;
}

.subNavBig
{
	height: 100%;
}

#text-input
{
	width: 40vh;
}
.container-fluid {
	border: 1px solid lightgrey;
}

.isHidden {
	display: none;
}

#time
{
	width: 15vh;
	// margin-left: 20px;
}

#searchBtn
{
	background-color: #392ECF;
	margin-left: 10px;
	width: 15vh;
	color: white;
}
ul {
	list-style-type: decimal;
}

#mapDiv 
{
	font-size: 1.5em;
	min-height: 50vh;
}

.mapContainer {
	min-height: 100%;
}

#canvas {
	width:100%;
	height:100%;
	position: absolute;
	z-index: 1;
	pointer-events: none;
	// opacity: .5;
}

.mapGrid {
	position: relative;
	z-index: 0;
}

#grid{
	pointer-events: none;
}
.mapGridBox {
	height: 200px;
	width: 250px;
	border: 5px solid transparent;
	color: white;
	display: inline-flex;
	flex-flow: column nowrap;
	justify-content: space-between;
}
.footerFlexContainer
{
	text-align: center;
}
.highlightedArea {
	border: 5px inset lightgrey;
}
#grid1 {
	background-color: $grid1;
}

#grid2 {
	background-color: $grid2;
}

#grid3 {
	background-color: $grid3;
}

#grid4 {
	background-color: $grid4;
}

#grid5 {
	background-color: $grid5;
}

#grid6 {
	background-color: $grid6;
}

#grid7 {
	background-color: $grid7;
}

.footerFlexContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footerFlexContainer div {
	min-width: 200px;
}
.footerFlexDesc {
	flex-grow: 1;
}

//HERE is overflow styling
body {
	max-height: $body-height;
}
nav {
	max-height: $nav-height;
}

body > .container-fluid {
	max-height: $page-content-height;
}

.container-fluid .row {
	height: inherit;
}

#listDiv {
	height: $page-content-height;
	overflow: scroll;
}

footer {
	max-height: $footer-height;
}
//END of overflow styling