@import 'variables';

nav img {
	max-height: 100%;
}

.container-fluid {
	border: 1px solid lightgrey;
}

.isHidden {
	display: none;
}

ul {
	list-style-type: decimal;
}

#canvas {
	width:100%;
	height:100%;
	position: absolute;
	z-index: 1;
	pointer-events: none;
}

.mapGrid {
	position: relative;
	z-index: 0;
}

.mapGridBox {
	border: 2px solid transparent;
}

.highlightedArea {
	border: 2px solid red;
}
#grid1 {
	background-color: $grid1;
}

#grid2 {
	background-color: $grid2;
}

#grid3 {
	background-color: $grid3;
}

#grid4 {
	background-color: $grid4;
}

#grid5 {
	background-color: $grid5;
}

#grid6 {
	background-color: $grid6;
}

#grid7 {
	background-color: $grid7;
}